TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=
NODE_ENV=development
SESSION_DRIVER=cookie
SMTP_HOST=
SMTP_PORT=
RESEND_API_KEY=
BREVO_API_KEY=

# Twilio Configuration
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM=
TWILIO_MESSAGING_SERVICE_SID=
TWILIO_DEBUG_TO=

# Slack and Discord Webhooks
SLACK_WEBHOOK_URL=''
DISCORD_DEFAULT_WEBHOOK_URL=''
DISCORD_MARKETING_WEBHOOK_URL=''
